#main {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  overflow: hidden;
}

#titlebar {
  height: 10%;
}

#viewer {
  width: 75%;
  height: 80%;
  margin: 0 auto;
  max-width: 1250px;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

/* #viewer.twoup {
  width: 80%;
} */

#viewer iframe {
  border: none;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  font-size: 64px;
  color: var(--reader-arrow-color);
  font-family: monospace, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow:hover {
  color: var(--reader-arrow-hover-color);
}

.arrow:active,
.arrow.active {
  color: #000;
}

#divider {
  position: absolute;
  width: 1px;
  border-right: 1px #000 solid;
  height: 80%;
  z-index: 1;
  left: 50%;
  margin-left: -1px;
  top: 10%;
  opacity: 0.15;
  box-shadow: -2px 0 15px #000;
  display: none;
}

#divider.show {
  display: block;
}

#spinner {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: calc(50% - 15px);
}

#spinner .square {
  background-color: var(--reader-spinner-color, #fff);
  margin: 0 0 0 -15px;
  width: 30px;
  height: 30px;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  -moz-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.highlight {
  background-color: yellow;
}

.md-show {
  visibility: visible;
}

.md-show ~ .overlay {
  opacity: 1;
  visibility: visible;
}

/* Content styles */
.md-content {
  color: #fff;
  background: #6b6b6b;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  height: 320px;
}

.md-content h3 {
  margin: 0;
  padding: 6px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}

.md-content > div ul li {
  padding: 5px 0;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.md-content > .closer {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding: 4px;
}
