#toc ul {
  margin: var(--toc-margin);
  padding: var(--toc-padding);
  list-style-type: var(--toc-list-style-type);
}

#toc ul li {
  padding: var(--toc-link-padding);
}

#toc ul li a {
  color: var(--toc-link-color);
}

#toc ul li.selected a {
  color: var(--toc-link-selected-color);
}
